.board {
  width: 300px;
  height: auto;
  color: white;
  padding-top: 1px;
  padding-bottom: 30px;
  background-color: rgba(64, 64, 64, 0.842);
  backdrop-filter: blur(8px);
  border-style: solid;
  border-width: 0.1px;
  border-color: rgba(93, 93, 93, 0.506);
  border-radius: 10px;
  padding: 0 30px 20px 20px;
}

.boardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  border-bottom: 2px solid rgba(157, 157, 157, 0.506);
}

.boardTitle {
  font-size: 1.2rem;
  color: var(--ll-text-primary);
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  line-height: 48px;
  padding: 0px 5px 0px 5px;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.links:hover {
  background-color: rgba(125, 125, 125, 0.803);
}

.links img {
  width: 24px;
  height: 24px;
}

.linkText {
  flex: 1; /* takes remaining space */
  min-width: 0; /* IMPORTANT for flex */

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.addLink,
.boardSettings {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleActions {
  display: flex;
  gap: 16px;
}
