.board {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 0 0.5rem;
}
.boardTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.4rem;
}

.boardTitle {
  margin: 0.25rem 0.25rem -0.2rem 0.5rem;
  font-size: 1rem;
  color: #ffffff;
}

.boardBoxDark::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff88;
  margin-top: 0.5rem;
}
.boardBoxLight::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #10101070;
  margin-top: 0.5rem;
}

.addIcon,
.editIcon,
.deleteIcon {
  padding: 0.5rem;
  background-color: transparent;
  border: none;
}
.addIcon:hover,
.editIcon:hover,
.deleteIcon:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.boardIcons {
  display: flex;
  gap: 0.5rem;
  opacity: 0;
  transition: opacity 0.125s ease;
  margin-top: 0.25rem;
}
.board:hover .boardIcons {
  opacity: 1;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0 0.25rem 1rem 0.25rem;
}
