.board {
  align-self: start; /* prevents stretch */
  width: 275px;
  height: auto;
  color: white;
  background-color: rgba(50, 50, 50, 0.5);
  backdrop-filter: blur(32px);
  border-style: solid;
  border-width: 0.1px;
  border-color: rgba(93, 93, 93, 0.4);
  border-radius: 10px;
  padding: 0 30px 20px 20px;
  margin-bottom: 0;
}

.boards {
  display: grid;
  grid-template-columns: repeat(4, 324px);
  grid-auto-rows: auto;
  gap: 24px;
  justify-content: center;
}

.time {
  height: 100px;
  margin-top: 0px;
  font-size: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(30px);
  border-bottom: 1px solid rgba(157, 157, 157, 0.193);
}

.boardHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 10px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.506);
}

.boardHeader img {
  width: 16px;
  height: 16px;
  padding: 8px;
}

.addLink,
.boardDelete,
.boardEdit {
  background: none;
  border: none;
  margin: 0;
  font-size: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  opacity: 0;
}

.addLink:hover,
.boardDelete:hover,
.boardEdit:hover {
  opacity: 100;
}

.boardHeader img:hover {
  background-color: rgba(128, 128, 128, 0.657);
  cursor: pointer;
  border-radius: 8px;
}

.boardTitle {
  margin: 0px 0px 8px 0px;
  width: 200px;
  font-size: 24px;
  color: white;
  cursor: grab;
  user-select: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  line-height: 40px;
  gap: 8px;
  padding: 0px 5px 0px 5px;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.linkContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 5px 0px 5px;
  text-decoration: none;
  color: white;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.links:hover {
  background-color: rgba(125, 125, 125, 0.803);
}
.links:hover button {
  opacity: 1;
}

.links img {
  width: 16px;
  height: 16px;
}

.linkText {
  font-size: 16px;
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titleActions {
  display: flex;
  gap: 10px;
}

.titleActions button {
  opacity: 0;
  transition: opacity 0.2s ease;
}
.board:hover .titleActions button {
  opacity: 1;
}

.deleteLink {
  background: none;
  border: none;
  margin: 0;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  padding: 12px;
  opacity: 0;
}

.deleteLink:hover {
  background-color: rgba(95, 53, 53, 0.657);
  cursor: pointer;
  border-radius: 8px;
}

.addLinkForm {
  margin: 10px 0px 0px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.addLinkForm button {
  width: 100%;
  height: 40px;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
}

.addLinkForm button:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.addLinkTitle,
.addLinkUrl {
  padding: 10px 8px 10px 8px;
  border-radius: 4px;
  background-color: rgba(135, 135, 135, 0.4);
  border: none;
  color: white;
}

.addLinkTitle::placeholder,
.addLinkUrl::placeholder {
  color: aliceblue;
}

input:focus::placeholder {
  color: transparent;
}
input:focus {
  outline: none;
  border: 1px solid aliceblue;
}

.refreshBoards,
.addBoards {
  padding: 8px;
  background-color: rgba(97, 97, 97, 0.4);
  backdrop-filter: blur(32px);
  border: none;
  border-radius: 50%;
  margin: 0;
  font-size: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}

.refreshBoards:hover {
  background-color: rgba(97, 97, 97, 0.7);
}
.addBoards:hover {
  background-color: rgba(97, 97, 97, 0.7);
}

.refreshBoards {
  position: fixed;
  bottom: 48px;
  left: 48px;
}

.addBoards {
  position: fixed;
  bottom: 48px;
  right: 48px;
}

.refreshBoards img,
.addBoards img {
  height: 32px;
  width: 32px;
}

.footer {
  width: 97%;
  display: flex;
  justify-content: space-between;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;
}

.modal {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  color: white;
  font-size: 16px;
}

.inputTitle {
  font-size: 20px;
  padding: 16px;
  background-color: rgba(92, 92, 92, 0.3);
  border: none;
  color: white;
  border-radius: 8px;
}

.addBoardForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.addBoardButtons,
.deleteButtons {
  display: flex;
  justify-content: space-between;
}

.addBoardButtons button,
.deleteButtons button {
  border-radius: 8px;
  width: 49%;
  height: 48px;
  color: white;
  background-color: #1e1e1e91;
  border: solid;
  border-color: rgba(159, 159, 159, 0.243);
  border-width: 1px;
}

.addBoardButtons button:hover,
.deleteButtons button:hover {
  cursor: pointer;
  background-color: rgba(51, 51, 51, 0.5);
}

.editInput {
  font-size: 20px;
  padding: 4px;
  width: 200px;
  margin: 10px 0px 8px 0px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  align-items: center;
  color: white;
  outline: none;
}

.welcomeCard {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.welcomeTitle {
  font-size: 32px;
  line-height: 0px;
}

.welcomeContent {
  line-height: 24px;
}

.continueButton {
  border-radius: 8px;
  width: 49%;
  height: 48px;
  color: white;
  background-color: #1e1e1e91;
  border: solid;
  border-color: rgba(159, 159, 159, 0.243);
  border-width: 1px;
}

.dragHandle:hover {
  cursor: grab;
}
